PORT=3000

# Groq API key — https://console.groq.com
# Free tier: ~14,400 req/day, 30 RPM, Llama-4 Vision
GROQ_API_KEY=

DATABASE_URL=

# Agmarknet (Data.gov.in) API Key
DATA_GOV_API_KEY=579b464db85a08c55b8aedac8e
JWT_SECRET=supdev
OPENWEATHER_API_KEY=fae38267e04a7d587

NVIDIA_API_KEY=nvapi-nbJyzKdYGIayC3Of8U62

HTTPSMS_API_KEY=pk_mei8G06F009bFxEk9oeiF
HTTPSMS_FROM_PHONE=+91807