PORT=3000

# Groq API key — https://console.groq.com
# Free tier: ~14,400 req/day, 30 RPM, Llama-4 Vision
GROQ_API_KEY=

DATABASE_URL=

# Agmarknet (Data.gov.in) API Key
DATA_GOV_API_KEY=579b464db66ec23bdd000001f72dbbe751a74be85a08c55b8aedac8e
JWT_SECRET=super_secret_temporary_key_for_dev
OPENWEATHER_API_KEY=fae38756a654d10a2707267e04a7d587

NVIDIA_API_KEY=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

HTTPSMS_API_KEY=pk_mei8G06F009bFxxIebYzK57g6SbuIU-Lj5_B3z0MTA8REUhTqfWw6Cs1iEk9oeiF
HTTPSMS_FROM_PHONE=+918306299507